<div class="planetBack" style="left: 32%; top: 24%; cursor: auto;">
    <div class="comingSoon" style="transform: rotate(-20deg); left: 70px; top: 0px;">
        <div style="width:200px; height: 80px; border-radius: 10px;">Coming Soon</div>
        <div style="height: 60px; width: 10px; left: 95px;"></div>
    </div>
    <div class="planet" style="background-color: #C0C0C0; top: 0px; left: 150px;">
        <div class="deco" style="background-color: rgba(220, 220, 220, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div>
        <div class="deco" style="background-color: rgba(220, 220, 220, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(220, 220, 220, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(220, 220, 220, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(105, 105, 105, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(105, 105, 105, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(105, 105, 105, 0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255, 255, 255, 0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(105, 105, 105,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <div class="rocket"  ng-click="link('home')" style="transform: rotate(20deg); left: 280px; bottom: 90px;">
        <div class="wing" style="background-color: #39BEFF;"></div>
        <div class="bottom" style="background-color: #39BEFF; left: 25px;"></div>
        <div class="body" style="background-color: #FAFCF7; left: 20px; bottom: 108px;"></div>
        <div class="window" style="background-color: #151845; border: 2px solid #B8D2EC; left: 27px; bottom: 185px;"></div>
    </div>
    <div class="dialog" ng-click="link('home')" style="left: 380px; bottom: 250px; cursor: pointer;">
        <div style="transform: rotate(-20deg);"></div>
        <font class="font_18" style="left: 20px;">back home!</font>
        <div style="transform: rotate(20deg);"></div>
    </div>
    
</div>
