<div class="planetBack" style="transform: scale(0.4); left: -3%; top: -10%;" ng-click="link('dataStructure')">
    <div class="planet" style="background-color: #CD5C5C; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(148, 49, 38,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">Data Structure</font>
</div>

<div class="planetBack" style="transform: scale(0.3); left: 25%; top: 40%;" ng-click="link('machineLearning')">
    <div class="planet" style="background-color: #3CB371; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(164, 238, 164, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(0, 100, 60,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">SQL</font>
</div>

<div class="planetBack" style="transform: scale(0.35); left: 60%; top: 22%;" ng-click="link('Programming')">
    <div class="planet" style="background-color: #4169E1; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(25, 25, 112,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">Programming</font>
</div>