<input id="home" type="radio" name="state" checked>
<input id="dataStructure" type="radio" name="state">
<input id="comingSoon" type="radio" name="state">
<div class="star">
    <div style="top: 8%; left: 5%;"></div>
    <div style="top: 45%; left: 8%;"></div>
    <div style="top: 20%; left: 17%;"></div>
    <div style="top: 80%; left: 15%;"></div>
    <div style="top: 3%; left: 35%;"></div>
    <div style="top: 60%; left: 28%;"></div>
    <div style="top: 30%; left: 50%;"></div>
    <div style="top: 92%; left: 45%;"></div>
    <div style="top: 25%; left: 90%;"></div>
    <div style="top: 70%; left: 60%;"></div>
    <div style="top: 48%; left: 75%;"></div>
    <div style="top: 93%; left: 95%;"></div>
    <div style="top: 13%; left: 68%;"></div>
</div>
<div ui-view="page"></div>

<div class="land home" style="background-color: RGB(235, 185, 0);">
    <div class="hole" style="transform: scale(0.3); left: 50%; top: -8%;"></div>
    <div class="hole" style="transform: scale(0.45); left: 8%; top: 10%;"></div>
    <div class="hole" style="transform: scale(1.6); left: 30%; top: 70%;"></div>
</div>
<div class="land dataStructure" style="background-color: #CD5C5C">
    <div class="hole" style="transform: scale(0.3); left: 50%; top: -8%;"></div>
    <div class="hole" style="transform: scale(0.45); left: 8%; top: 10%;"></div>
    <div class="hole" style="transform: scale(1.6); left: 30%; top: 70%;"></div>
    <div class="rocket"  ng-click="link('home')" style="transform: scale(1.8); left: 80%; bottom: 0px;">
        <div class="wing" style="background-color: #39BEFF;"></div>
        <div class="bottom" style="background-color: #39BEFF; left: 25px;"></div>
        <div class="body" style="background-color: #FAFCF7; left: 20px; bottom: 108px;"></div>
        <div class="window" style="background-color: #151845; border: 2px solid #B8D2EC; left: 27px; bottom: 185px;"></div>
    </div>
</div>