<!--<div style="width: 90%; height: 90%; background-color: white; border-radius: 50%; box-shadow: 5px 10px 20px gray;">-->
<div style="width: calc(100% - 10%); height: 100%; background-color: white; padding: 0 5%;">
    <div>
        <div ng-repeat="item in christmas.participant" id="taskDiv-{{$index}}" ng-click='btnClick($index)' style="background-color: transparent; cursor: pointer; display: inline-block; width: calc(90% / 6); text-align: center; position: fixed; left: calc({{$index*90/6}}% + 2%); padding-top: 15%;" >
            <img ng-src='{{picUrl($index)}}' style="width: 150%; position: relative;" >
            <font style="font-size: 20px; position: relative; left: 25%; top: 10px;">{{item}}</font>
        </div>
    </div>
    <img ng-src="{{christmas.picLocate}}{{christmas.text}}" style="position: fixed; width: calc(100% - 10%); bottom: 10%;">
</div>