
<!--planet design-->

<!--
<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #ff9933; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(255, 191, 128, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div>
        <div class="deco" style="background-color: rgba(255, 191, 128, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(255, 191, 128, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(255, 191, 128, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(204, 102, 0,0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(204, 102, 0,0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(204, 102, 0,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(204, 102, 0,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>

<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #CD5C5C; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(240, 128, 128, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(148, 49, 38,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(148, 49, 38,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>

<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #4169E1; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(100, 149, 237, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(25, 25, 112,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(25, 25, 112,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>

<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #FFD700; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(255, 250, 175, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(255, 250, 175, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(255, 250, 175, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(255, 250, 175, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(184, 130, 0, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(184, 130, 0, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(184, 130, 0,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(194, 150, 12,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>

<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #3CB371; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(164, 238, 164, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(174, 238, 174, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(0, 100, 60,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(0, 100, 60,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>

<div class="planetBack" style="transform: scale(0.5);">
    <div class="planet" style="background-color: #8C51A9; top: 150px; left: 150px;">
        <div class="deco" style="background-color: rgba(209, 169, 229, 1.0); height:20px; width:110px; border-radius:10px; top:60px; left:85px;"></div> 
        <div class="deco" style="background-color: rgba(209, 169, 229, 1.0); height:15px; width:90px; border-radius:6.5px; top:80px; left:110px;"></div>
        <div class="deco" style="background-color: rgba(209, 169, 229, 1.0); height:25px; width:120px; border-radius:15px; top:78px; left:50px;"></div>
        <div class="deco" style="background-color: rgba(209, 169, 229, 1.0); height:22px; width:90px; border-radius:11px; top:70px; left:12px;"></div>
        <div class="deco" style="background-color: rgba(82, 51, 98, 0.3); height:15px; width:40px; border-radius:7.5px; top:50px; left:70px;"></div>
        <div class="deco" style="background-color: rgba(82, 51, 98, 0.3); height:20px; width:60px; border-radius:11px; bottom:25px; left:10px;"></div>
        <div class="deco" style="background-color: rgba(82, 51, 98,0.3); height:15px; width:45px; border-radius:7.5px; top:40px; left:130px;"></div>
        <div class="deco" style="background-color: rgba(255,255,255,0.4); height:12px; width:30px; border-radius:7.5px; top:7px; left:32px;"></div>
        <div class="shadow" style="box-shadow: 15px 15px rgba(82, 51, 98,0.3); bottom: 160px; right: 14px;"></div>
    </div>
    <font style="left: 340px; top: 140px;">text</font>
</div>
-->
<!--rocket design-->

<!--
<div class="rocket"  style="left: 280px; top: 200px;">
    <div class="wing" style="background-color: #39BEFF;"></div>
    <div class="bottom" style="background-color: #39BEFF; left: 25px;"></div>
    <div class="body" style="background-color: #FAFCF7; left: 20px; bottom: 108px;"></div>
    <div class="window" style="background-color: #151845; border: 2px solid #B8D2EC; left: 27px; bottom: 185px;"></div>
</div>-->

<!--UFO design-->
<!--
<div class="UFO">
    <div class="body" style="background-color: cadetblue; left: 100px; top: 100px;"></div>
    <div class=""></div>
</div>-->

<!--detector design-->