.font_54{
    font-size: 54px;
}
.font_48{
    font-size: 48px;
}
.font_36{
    font-size: 36px;
}
.font_32{
    font-size: 32px;
}
.font_28{
    font-size: 28px;
}
.font_24{
    font-size: 24px;
}
.font_18{
    font-size: 18px;
}
