:root{
    --color-star: rgba(255, 255, 255, 1.0);
    --color-back: rgba(0,0,0,0.4);
    --color-planet: rgba(255, 153, 51, 1.0);
    --color-planetDeco-1: rgba(255, 191, 128, 1.0);
    --color-planetDeco-2: rgba(204, 102, 0,0.3);
    --color-planetDeco-3: rgba(255,255,255,0.4);
    --color-planetDeco-shad: rgba(204, 102, 0,0.3);
}
#index:checked ~ .star{
    display: inline;
}
.star {
    display: none;
}
.star div{
    background-color: var(--color-star);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
}

.comingBack{
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: var(--color-back);
    transform: scale(0.7);
    left: 30%;
}
.comingBack .planet{
    height:200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    background-color: #ff9933;
    top:45px;
    left:220px;
}
.comingBack .planet .planetDeco-1{
    position: relative;
    background-color: var( --color-planetDeco-1);
}
.comingBack .planet .planetDeco-2{
    position: relative;
    background-color: var( --color-planetDeco-2);
}
.comingBack .planet .planetDeco-3{
    position: relative;
    background-color: var( --color-planetDeco-3);
}
.comingBack .planet .planetDeco-shad{
    position: relative;
    background-color: transparent;
    box-shadow: 15px 15px var( --color-planetDeco-shad);
}
.comingBack .star{
    display: block;
}
.comingBack .text{
    color: white;
    position: relative;
    font-weight: bold;
    animation-name: textFlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes textFlow{
  50%{
    transform: translateY(30px);
  }
}