@import url("main.css");
.contentBox {
    position: relative;
    display: inline-block;
    background-color: var(--color-contentBox);
    border-radius: 10px;
    margin: 0px 0px;
    text-align: center;
}
